---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'
import Button from '../../ui/Button.astro'


// Content
// - Cards
import service01 from '../../../assets/hero-01.png'
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'

import heroImage from '../../../assets/hero-01.png'

---

<Section id="features">
	<Row>
		<Col span="7" align="left" classes="mb-12 max-w-4xl mx-auto">
			<h5><strong>Services</strong></h5>
			<h2 class="text-pretty">Explore Our Wide Range of Services</h2>
			<!-- <Image
				src={heroImage}
				alt="Foxi. The tailwind astro theme"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950 rounded-2xl"
				format="webp"
			/> -->
		</Col>
		<Col span="2" />
		<Col span="3" align="right" classes="mt-12">
			<Button size="base" link="/">See All Services</Button>
		</Col>
	</Row>
	<Row>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="All your data in one place"
				subtitle="Stay on top of your tasks and deadlines with our intuitive project management tool. "
				image={service01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Organize & manage your projects "
				subtitle="Stay on top of your tasks and deadlines with our intuitive project management tool. "
				image={service01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Manage your customers"
				subtitle="Build and nurture customer relationships with our powerful CRM system. "
				image={service01}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
