---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'
import Button from '../../ui/Button.astro'

// Components
// - Layout
import Layout from '../../../layouts/Layout.astro'
// - UI
import Hero from '../../../components/blocks/hero/PageHeader.astro'
import BlogPosts from '../../../components/blocks/blog/BlogPosts.astro'

// Data
import { getCollection } from 'astro:content'

// Content
// - Cards
import service01 from '../../../assets/hero-01.png'
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'

import heroImage from '../../../assets/hero-01.png'

// - SEO
const SEO = {
	title: 'Foxi | Latest Foxi News and updates',
	description:
		"Explore Foxi's latest news designed to enhance productivity, ensure top-notch security, and integrate seamlessly with your favorite tools. Join thousands of satisfied users and transform your workflow with Foxi today!"
}

const allPosts = await getCollection('blog')

---

<Section id="features">
	<Row>
		<Col span="6" align="left" classes="mb-12 max-w-4xl">
			<h5><strong>BLOG</strong></h5>
			<h2 class="text-2xl sm:text-3xl lg:text-4xl 2xl:text-5xl font-extrabold leading-tight md:leading-snug text-balance">Your Guide to Home Repairs</h2>
			<!-- <Image
				src={heroImage}
				alt="Foxi. The tailwind astro theme"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950 rounded-2xl"
				format="webp"
			/> -->
		</Col>
		<Col span="3" />
		<Col span="3" align="left" classes="-mt-12 lg:mt-12">
			<Button size="base" link="/">Browse Blog Posts</Button>
		</Col>
	</Row>
	<Row>
        <Col span="12">
            <BlogPosts data={allPosts} />
        </Col>
	</Row>
</Section>
