---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
import BannerPrincipal from '../../../assets/Banner_principal.png'
// - Avatars
import user1 from '../../../assets/avatars/avatar-01.webp'
import user2 from '../../../assets/avatars/avatar-02.webp'
import user3 from '../../../assets/avatars/avatar-03.webp'
const avatars = [
	{ image: { src: user1.src, alt: 'user name' }, link: '/' },
	{ image: { src: user2.src, alt: 'user name' }, link: '/' },
	{ image: { src: user3.src, alt: 'user name' }, link: '/' }
]
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="6" align="left">
			<!-- <ChipNotification radius="rounded-full" classes="mb-6">
				<strong>30K+</strong> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification> -->
			<h2 class="text-2xl sm:text-3xl lg:text-4xl 2xl:text-5xl font-extrabold leading-tight md:leading-snug text-balance">
				Mantenimiento, Construcción y Adecuación de Espacios para Empresas en Querétaro
			</h2>


			<p class="pb-0 text-sm lg:text-lg 2xl:text-xl text-justify leading-relaxed md:leading-loose">
				Profesionalizamos la infraestructura de su negocio. Desde la remodelación de
				oficinas corporativas hasta el mantenimiento de naves industriales. Un solo
				proveedor, ejecución certificada y gestión integral.
			</p>

			<Button size="lg" link="/">Solicitar Cotización Técnica</Button>
			<Col span="2" classes='pt-8 lg:pt-14'>
				<h5>Información de contacto</h5>

				<p class="pb-0 text-xs lg:text-lg 2xl:text-xl text-justify leading-relaxed md:leading-loose">✓ Facturación y Cumplimiento REPSE.</p>
				<p class="pb-0 text-xs lg:text-lg 2xl:text-xl text-justify leading-relaxed md:leading-loose">✓ Respuesta Técnica &lt; 24 Horas.</p>
				<p class="pb-0 text-xs lg:text-lg 2xl:text-xl text-justify leading-relaxed md:leading-loose">✓ Cobertura en Parques Industriales y Zonas Corporativas.</p>
			</Col>
		</Col>
		<Col span="6" align="center">
			<Image
				src={BannerPrincipal}
				alt="Foxi. The tailwind astro theme"
				class="shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
				format="webp"
			/>
		</Col>
		<Col span="6"/>
		<Col span="8"/>
		<Col span="8"/>
	</Row>
</Section>
